

/*span{
  height: 6900px;
}*/



.container{
  background-image: url(../images/back6.jpg);
  width: 1651px;
  height: 6900px;
  position: absolute;
  background-repeat: no-repeat;

}

.warn{
  background-image: url(../images/under.png);
  width: 697px;
  height: 570px;
margin-left: 40px;
top: 10px;
position: relative;
z-index: 30;
}


#continued{
  font-size: 50px;
  color: white;
  text-align: right;
  z-index: 30;
  position: absolute;
  margin-top: 40px;
  margin-left:1220px;
  font-family: 'Ranchers', cursive;

}

p{
  font-size: 50px;
  color: white;
  left: 70px;
  top: 500px;
  /*position: absolute;*/
}

/* moving object*/

#scrollmenu{
  /*border: 2px solid red;*/
  width:300px;
  height:350px;
  top:900px;
  left:500px;
  bottom: 10px;
  position:relative;
  z-index: 20;
  background-image: url(../images/spaceshipa.png);
  animation: ship 2s steps(3) infinite;
}

@keyframes ship {
  from { background-position:    0px; }
    to { background-position: 1169px; }
}


.scroll {
    height:200px;
    overflow:scroll;
    /*z-index: 20;*/

}

#rocks{
  font-size: 40px;
  color: white;
  width: 510px;
  height: 150px;
  text-align: center;
  margin-top: 5460px;
  margin-left: 25px ;
  position: relative;
  z-index: 30;
  text-shadow: 3px 2px black;
  text-decoration: underline;
}

/*#thebottom{
  width: 1250px;
  height: 100px;

}*/


/*Mars*/
.toppara{
  background-image: url(../images/mars.png);
  background-repeat: no-repeat;
  position: absolute;
  display: inline;
  /*border: 2px solid white;*/
  width:1080px;
  height:1083px;
  z-index: 23;
  top: 4500px;
  left: 200px;
  /*filter: drop-shadow(0px 120px 150px rgba(39,21,6,1));*/


  /*background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

  #marstext, p{
   /*background-color:white ;*/
   /*opacity: 0.6;*/
  font-size: 35px;
  color: black;
  width: 650px;
  height: 330px;
  top: 4800px;
  z-index:35;
  left: 100px;
  position: absolute;
  text-align: center;
}




.jupiter{
  background-image: url(../images/jupiter.png);
  position: absolute;
  width: 1080px;
  height: 1080px;
  left:100px;
  top: 2800px;
  z-index: 19;
  /*filter: drop-shadow(0px 120px 150px rgba(39,21,6,1));*/

}

#jupitertext, p{
 /*background-color:white;*/
 /*opacity: 0.6;*/
font-size: 35px;
color: black;
width: 600px;
height: 250px;
/*top: 800px;*/
z-index:35;
left: 600px;
/*padding-left: 10px;*/
position: absolute;
text-align: center;
top: 3100px;
}

.saturn{
  background-image: url(../images/saturn.png);
  position: absolute;
  width: 1080px;
  height: 700px;
  left:200px;
  top: 1100px;
  z-index: 25;


}

#saturntext, p{
 /*background-color:white ;*/
 /*opacity: 0.6;*/
font-size: 35px;
color: black;
width: 600px;
height: 400px;
top: 1400px;
z-index:35;
left: 15px;
/*padding-left: 10px;*/
position: absolute;
text-align: center;
}
p{
  background-color:white ;
  opacity: 0.6;
}


.smoke{
  position: absolute;
  top: 6650px;
  left: 410px;
  height: 205px;
  /*width: 600px;*/
  z-index: 23;
  /*filter: drop-shadow(0px 130px 150px rgba(39,21,6,1));*/

}

#stars{
  background-image: url(../images/stars.png);
  position: absolute;
  width:1651px;
  height: 620em;
  top:100px;
  left: 5px;
  z-index: 29;
  background-repeat: repeat;
}

#stars2{
  background-image: url(../images/stars2.png);
  position: absolute;
  width:1651px;
  height: 5600px;
  top:100px;
  left: 5px;
  z-index: 15;
  background-repeat: repeat;

}

h2{
  color: white;
  font-size: 30px;
  top: 50px;
  position: absolute;
margin-left: 710px;
margin-top: 180px;
z-index: 50;
}
